
:root{
    margin:0;
    padding:0;  
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    --text-color: rgb(255, 255, 255);

    --text-color-2: rgba(237, 237, 237, .85);
    --text-color-3:rgba(126, 126, 126);
    --black-1:#282828;
    --black-2:rgb(17, 17, 17);
    --black-3:rgb(22, 22, 22);
    --black-4:rgb(28, 28, 28);

}

body{
    background-color: rgb(17, 17, 17);
    color:var(--text-color);
    font-size: 1.6rem;
    padding: 1rem 2rem;
}

.avatar_container{
    width:10rem;
    height:10rem;
    /* object-fit: contain; */
    /* border-radius: 50%; */
    margin: 0 auto;

    & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
    }
}

h1{
    text-align: center;
}

.links{
   display: flex;
   align-items: center;
   gap: 2rem;

}

.icon{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    
}
 
.x,.github{
    background-color: var(--black-1);
    color:aliceblue;
    border-radius: 10%;
    width: 3.7rem;
    height: 3.7rem;
    
}

.titles{
    color: var(--text-color-3);
    display: flex;
    gap: 1rem;
    & i{
        font-style: normal;
        font-weight: 700;
    }

    &  i:not(:first-child):before{
        content: ".";
        margin-right: 1.5rem;
    }
}

main{
    margin:30%  auto;
   gap:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

#description{
    background-color: var(--black-3);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap:2rem;
    line-height: 2.5rem;
    
    & company{
        display: flex;
        align-items: center;
        gap: 1rem
    }

    & company_logo{
        width: 5rem;
        height: 5rem;
        object-fit: contain;        
    }

    & .content{
        color:var(--text-color-3);
        font-weight: 500;
    }

    & a{
        box-shadow: none;
        background-color: var(--black-1);
        border-radius: 1rem;
        width: 8rem;
        height: 5rem;
        text-align: center;
        line-height: 5rem;
        text-decoration: none;
        color: var(--text-color);
        font-weight: 400;
    }

}

.company-logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

#project{

}

#wall-of-fame{

}
